


.l-h{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #0000;
    background: transparent #0000;
    transition: all .5s ease;
    font-weight: 600;


    
}
.r-l , .c-l{

    color: #fff;
    text-decoration: none;
    font-size: 16px;
}


.l-h li{

    padding: 15px;
    align-items: center;
}




.homeinp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 13px;
  margin: auto;
  color: #fff;
  background-color: #111827;
  border: 1px solid #ffff;
  border-radius: 5px;
}

.city-list{
    display:  flex;

    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 4;
    justify-content: center;
    align-items: center;
    padding: 20px;

   
}



.city-item{
   display: flex;
   text-align: center;
    align-items: center;
    justify-content: space-evenly;
   margin: 18px;
   padding: 15px;
   border-radius: 40px;
   transition: 1s ease-in-out;
   border: 1px solid #fff;
   transition: all ease;
}


.city-button{
    display: flex;
    align-items:center;

    justify-content: center;
    color: #fff;
    background-color: #111827;
    font-size: 14px;
    width: 220px;
    padding: 10px;
    border: none;
    border-radius: 40px;
    transition: all ease;

}

.city-button:hover{
    background-color: #4036df;
    cursor: pointer;
    color: #fff;
    
}
.city-item:hover{

    background-color: #4036df;
    cursor: pointer;
    color: #fff;
}


.index{
    background-color: #4036df;
    font-size: 14px;
    padding: 10px;

    border-radius: 50px;
    transition: all ease;

}

.index:hover{
   color: #4036df;
   cursor: pointer;
   background-color: #fff;
}
@media screen and (max-width: 768px) {
    
    .homeabout{
        scroll-behavior: smooth;
    }

    .city-list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .homeinp{
        width: 350px;
    }
    .city-button{

        padding: 15px 150px;
    }

}

@media screen and (min-width:768) and (max-width: 1024px) {
    .homeabout{
        scroll-behavior: smooth;
    }
    .city-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
    }
    .city-item{

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homeinp{
        width: 350px;
    }
    .city-button{

        padding: 15px 50px;
    }
}